* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header h2 {
    text-align: center;
    padding: 20px;
    color: black;
    font-size: 30px;
}

.inp {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
}

select {
    padding: 10px;
    margin: 6px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
}

i {
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}

#btn {
    padding: 10px;
    margin: 10px 20px;
    border-radius: 5px;
    outline: none;
    color: aliceblue;
    background-color: green;
}

.result p {
    padding: 10px;
    margin: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    overflow-x: auto;
    white-space: normal;
    word-wrap: break-word;
}

footer {
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: lightcoral;
    font-weight: bold;
}